.gif-card {
    max-width: 250px;
    min-height: 200px;
    background-color: #a6c0dd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin: 5px;
    overflow: hidden; /* Ensures the image doesn't overflow its container */
    cursor: pointer;
    perspective: 1000px; /* Create a 3D space for flipping effect (rotateY() in child) */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
}

.gif-card:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.gif-img {
    width: 100%; /* The image will take up 100% of the parent's width */
    height: 200px;
    object-fit: cover; /* Ensures the image is cropped to fit its box */
    border-radius: 8px;
}

.flip-container {
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.gif-card-front {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.flipped .gif-card-front {
    opacity: 1;
}

.gif-card-back {
    transition: opacity 0.4s ease;
}

.flipped .gif-card-back {
    opacity: 0;
}

@media (max-width: 1800px) {
    .gif-card {
        min-height: 140px;
    }
    .gif-img {
        height: 140px;
    }
}

/* Mobile Styles */
@media (max-width: 1024px) {
    .gif-card {
        max-width: 90%;
        min-height: 150px;
        margin: 5px; /* Center cards with auto margins */
    }
    .gif-img {
        height: 150px;
    }
}

@media (max-width: 700px) {
    .gif-card {
        max-width: 140px;
        min-height: 75px;
    }
    
    .gif-img {
        height: 75px; 
    }
}

@media (max-width: 480px) {
    .gif-card {
        max-width: 140px;
        min-height: 80px;
    }
    
    .gif-img {
        height: 80px
    }
}
